{% extends 'account_base.html' %}
{% load static %}

{% block title%}Pr Blog{% endblock %}
	<!-- main -->
	{% block header %}
         Signup for a free account  
    {% endblock header %}
		<div class="main-agileinfo">
			{% block content %}
			<div class="agileits-top">
				<form action="{% url 'account:signup' %}" method="post" id="regform" name="regform">
					{% csrf_token %}
				{% include "partials/_messages.html" %}
				<input class="text" type="text" name="username" placeholder="Username" id="usernameField" value="{{ fieldVals.username}}">
					<div class="invalid-feedback" style="display:none;"></div>
                    <p class="text-sm text-success usernameSuccess"></p>
					
					<input class="text email" type="email" name="email" placeholder="Email" id="emailField" value="{{ fieldVals.email}}">
					<div class="invalid-feedback emailFeedback" style="display:none;"></div>
                    <p class="text-sm text-success emailSuccess"></p>
					 <br>
					 <input class="text" type="password" name="password1" placeholder="Password" id="password1Field">
					 <br>
					 <input class="text w3lpass" type="password" name="password2" placeholder="Confirm Password" id="Password2Field">
					
					<input type="submit" value="SIGNUP" class="signup">
				</form>
				<p>Already have an Account? <a href="{% url 'account:signin' %}"> Login Now!</a></p>
			</div>
			{% endblock %}
		</div>	
	</div>
</body>
</html>